:root{
    --black:#1d1d1f;
}

* {
    font-size: 18px;
    line-height: 35px;
}

a{
    text-decoration: none;
}

.top-bar{
    background: var(--black);
}

.top-bar p{
    font-size: 12px;
    /* padding: 10px; */
}

.humburger-menu{
    cursor: pointer;
}

.slide {
    position: fixed;
    z-index: 999;
    background: #fff;
    left: -100%;
    transition: all ease-in-out 0.3s;
    width: 320px;
    height: calc(100vh - 116px);
    top: 116px;
    overflow-y: scroll;
}

.slide.active{
    left: 0%;
}

.slide ul li {
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 15px 25px;
}

.slide ul li a {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.humburger-menu span {
    height: 3px;
    width: 30px;
    background: #333;
    display: block;
    border-radius: 5px;
}

.humburger-menu span:nth-child(2){
    margin: 5px 0;
}

.profile ul{
    column-gap:20px;
}

.profile ul li a{
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
}

.login-btn {
    border: 2px solid var(--black);
    padding: 2px 10px;
    border-radius: 5px;
}

.bg-black{
    background: var(--black);
}

.light-outline-btn{
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 5px;
    border:2px solid #fff;
}

.footer-hr{
    height: 5px;
    width:40px;
    background: rgba(255, 255, 255, .5);
    display: block;
    opacity: 1;
}

.whatsapp {
    row-gap: 25px;
}

.app{
    column-gap: 20px;
}

ul.breadcrumb li {
    font-size: 13px;
    line-height: 24px;
}

ul.breadcrumb {
    column-gap: 10px;
    font-weight: 700;
}

div#nav-tab {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

div#nav-tab button {
    color: #333;
    font-weight: 500;
}

div#nav-tab button img {
    width: 20px;
}

.nav-tabs .nav-link.active{
    background: #cc0000!important;
    color: #ffffff!important;
}

.nav-tabs .nav-link.active img {
    filter: invert(1);
}

.about{
    background: url('../images/3.webp') no-repeat;
    background-size: cover;
    height: 70vh;
    background-position: center;
    display: flex;
    align-items:center;
    position:relative;
}

.about h1 {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.cont {
    position: relative;
    z-index: 99;
}

.about p {
    font-size: 21px;
    line-height: 40px;
}

.bg-img-left{
    background-size: 50%!important;
    background-position: left center!important;
    height: 700px;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 38px;
    font-weight: 400;
}

.bg-img-right {
    background-size: 65%!important;
    background-position: 155% center!important;
    height: 700px;
    display: flex;
    align-items: center;
}

.blog-slider .item{
    background-size: cover!important;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.owl-carousel .owl-nav.disabled{
    display: block;
}

.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

button.owl-next,
button.owl-prev {
    height: 50px;
    width: 50px;
    background: rgba(0,0,0,.3)!important;
    display: grid;
    place-items: center;
    border-radius: 50%!important;
}

button.owl-next span,
button.owl-prev span{
font-size: 30px!important;
transform: translateY(-3px);
}

.card p{
    font-size: 15px!important;
    line-height: 20px;
}

ul.pagination {
    display: flex;
    column-gap: 10px;
}

ul.pagination li {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    display: grid;
    place-items: center;
}

ul.pagination li.active,
ul.pagination li.active a{
    background:#333;
    color: #fff;
}

ul.pagination li a{
    color: #333;
    font-weight: 500;
}

.contact .top{
    row-gap: 20px;
}

header.header {
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.color-frame {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

p span {
    font-size: 12px;
}

p span small{
    font-size: 10px;
}

.select-img img{
    cursor: pointer;
    font-weight: 500;
}

.size {
    justify-content: flex-start;
}

.size ul {
    column-gap: 7px;
    row-gap: 5px;
}

.size ul button {
    font-size: 13px;
    font-weight: 500;
    padding: 5px 23px;
}

.size ul button.active{
    color: #fff;
    background: skyblue;
}

.accordion-button:not(.collapsed),
.accordion-button:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background-color: transparent;
}
.accordion-button::after {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: var(--bs-danger);
  background-image: none !important;
}
.accordion-button.collapsed::after {
  background-color: var(--bs-gray-300);
}

.profile {
    position: relative;
}

html,body{
    overflow-x:hidden;
}

.cart-main {
    width: 300px;
    position: absolute;
    right: -500px;
    background: #fff;
    height: calc(100vh - 117px);
    display: flex;
    align-items: center;
    box-shadow: 12px 10px 16px 5px rgba(0,0,0,.2);
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    transition: all ease-in-out 0.3s;
    top: 70px;
}

.cart-box{
    cursor: pointer;
}

.cart-main.active{
    right: -32px;
}

#frame .modal-dialog, #checkout .modal-dialog{
    max-width: 80%;
}

.bl-tb {
    padding: 10px;
    border: 1px solid #e9e9e9;
}

.bl-tb {
    padding: 10px;
    border: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
    column-gap: 10px;
}


button.verticle span {
    height: 20px;
    width: 15px;
    background: #000;
    display: block;
}

button.horz span{
    height: 15px;
    width: 20px;
    background: #000;
    display: block;
}

.file {
    width: 30%;
    margin: auto;
    height:450px;
    border-radius: 10px;
}

.file input {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file input::before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: url('../images/uploadfile.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.file2 {
    width:42%;
    margin: auto;
    height:250px;
    border-radius: 10px;
}

.file2 input {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file2 input::before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: url('../images/uploadfile2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.product{
    position: relative;
}

.product .edit {
    position: absolute;
    right: 50px;
    top: 10px;
}

.product h5 {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.sizes li, .thikness li {
    border: 2px solid lightgray;
    border-radius: 16px;
    padding: 0px 10px;
    margin-top: 12px;
    font-size: 15px;
    cursor: pointer;
}

.sizes li.active, .thikness li.active{
    background: #333;
    color: #fff!important;
}


.box-yellow{
    background-color: #fffaee;
    height:300px;
    width: 100%;
    row-gap: 15px;
}

.pagina ul li{
    opacity: .4;
    column-gap: 8px;
}

.pagina ul li.active{
    opacity:1;
}

.pagina ul {
    column-gap: 10px;
    margin: 20px auto;
    justify-content: center;
}

.pagina ul li span {
    background: #1caf00;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    justify-content: center;
    font-size: 12px;
}

.cart p{
    font-size: 13px;
    margin-bottom: 0;
    line-height: 18px;
}

.cart input,
.cart textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

.cart input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.cart input::-webkit-outer-spin-button,
.cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart .input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.cart .input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.cart .input-group .button-minus,
.cart .input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.cart .input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 50px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

video#video {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.add-box {
    background: #fff;
    box-shadow: 10px 10px 0 rgba(0,0,0,.2);
    height: 250px;
    padding: 30px;
}

.cart .button-plus {
  left: -13px;
}

.cart input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

h5 {
    font-size: 17px;
}

.box b span{
    font-size: 12px;
    line-height: 16px;
}

.checkout2 label {
    font-size: 14px;
    line-height: 20px;
}

@media screen and (min-width: 360px) and (max-width: 767px) { 
 
    .top-bar p:first-child,.top-bar p:last-child {
        display: none;
    }

    .top-bar p {
        width: 100%;
        text-align: center;
    }

    .navbar {
        padding: 10px 0px!important;
    }

    .humburger-menu span {
        height: 3px;
        width: 25px;
    }

    .profile ul li span {
        display: none;
    }

    .profile ul {
        margin-bottom: 0px;
    }

    li.login-btn a span {
        font-size: 13px;
    }

    li.login-btn a img{
        display: block!important;
    }
    
    .login {
        margin-top: 20px;
    }

    footer h5 {
        margin-top: 30px!important;
        font-size: 20px;
    }

    footer a.text-white {
        font-size: 17px;
    }
   
}